@model Calculator.Modles.Calculator
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8"/>

    <title>Calculators</title>
    <meta name="description" content="Calculator" />
    <meta name="author" content="Erik Plyushko" />

</head>

<body>
    <form>
        <label>@Model.Result</label>


    </form>


</body>

</html>
