@model Calculator.Models.CalcViewModel
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8"/>

    <title>Calculators</title>
    <meta name="description" content="Calculator" />
    <meta name="author" content="Erik Plyushko" />

    <link rel="stylesheet" href="~/style/Reset.css"/>
    <link rel="stylesheet" href="~/style/StyleSheet.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
        <div id="calc">
            <div id="OutPut"><h1 id="Print">0</h1></div>
            <div id="Numbers">
                <div class="Row">
                    <button class="bt" value="7">7</button>
                    <button class="bt" value="8">8</button>
                    <button class="bt" value="9">9</button>
                    <button class="bt" value="+">+</button>
                </div>
                <div class="Row">
                    <button class="bt" value="4">4</button>
                    <button class="bt" value="5">5</button>
                    <button class="bt" value="6">6</button>
                    <button class="bt" value="-">-</button>
                </div>
                <div class="Row">
                    <button class="bt" value="1">1</button>
                    <button class="bt" value="2">2</button>
                    <button class="bt"value="3">3</button>
                    <button class="bt" value="*">*</button>
                </div>
                <div class="Row">
                    <button class="bt" value="0">0</button>
                    <button class="bt" value=".">.</button>
                    <button class="bt"value="=">=</button>
                    <button class="bt"value="/">/</button>
                </div>
            </div>

        </div>

            <button id="send">send ajax</button>
            <button id="clear">Clear</button>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script type="text/javascript" src="~/js/app.js"></script>
</body>

</html>
